/build/
/Debug/
/Release/
/Debug Library/
/Release Library/
/x86/
/x64/
.vs/
.vscode/
.DS_Store
*.exe
*.zip
*.user
*.sdf
*.pdb
*.ipdb
*.iobj
*.suo
*.VC.opendb
*.VC.db
/bin/*.lib
/bin/msdf-atlas-gen
output.png
out/
/cmake-gen.bat

# Visual Studio clutter
_ReSharper*
*.dir
*.vcxproj*
*.sln
CMakeSettings.json
Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
*.opensdf
